/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.turn-avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
/*
.turn-layout .turn-header .mdl-textfield .mdl-textfield__expandable-holder {
  bottom: 19px;
}*/
.turn-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.turn-drawer {
  border: none;
}
/* iOS Safari specific workaround */
.turn-drawer .mdl-menu__container {
  z-index: -1;
}
.turn-drawer .turn-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.turn-drawer .mdl-menu .mdl-menu__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.turn-drawer-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16px;
  height: 151px;
}
.turn-avatar-dropdown {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.turn-navigation {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.turn-layout .turn-navigation .mdl-navigation__link {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}
.turn-layout .turn-navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}
.turn-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.turn-content {
  max-width: 1080px;
}

.turn-charts {
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
}
.turn-chart:nth-child(1) {
  color: #ACEC00;
}
.turn-chart:nth-child(2) {
  color: #00BBD6;
}
.turn-chart:nth-child(3) {
  color: #BA65C9;
}
.turn-chart:nth-child(4) {
  color: #EF3C79;
}
.turn-graphs {
  padding: 16px 32px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
/* TODO: Find a proper solution to have the graphs
 * not float around outside their container in IE10/11.
 * Using a browserhacks.com solution for now.
 */
_:-ms-input-placeholder, :root .turn-graphs {
  min-height: 664px;
}
_:-ms-input-placeholder, :root .turn-graph {
  max-height: 300px;
}
/* TODO end */
.turn-graph:nth-child(1) {
  color: #00b9d8;
}
.turn-graph:nth-child(2) {
  color: #d9006e;
}

.turn-cards {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
              -ms-grid-row-align: flex-start;
          align-items: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}
.turn-cards .turn-separator {
  height: 32px;
}
.turn-cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
}
.turn-cards ul {
  padding: 0;
}
.turn-cards h3 {
  font-size: 1em;
}
.turn-updates .mdl-card__title {
  min-height: 200px;
  background-image: url('images/dog.png');
  background-position: 90% 100%;
  background-repeat: no-repeat;
}
.turn-cards .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}

.turn-options h3 {
  margin: 0;
}
.turn-options .mdl-checkbox__box-outline {
  border-color: rgba(255, 255, 255, 0.89);
}
.turn-options ul {
  margin: 0;
  list-style-type: none;
}
.turn-options li {
  margin: 4px 0;
}
.turn-options .material-icons {
  color: rgba(255, 255, 255, 0.89);
}
.turn-options .mdl-card__actions {
  height: 64px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/**/
.mdl-data-table.without-wrap {
    /*white-space: normal;*/
}
.turn-card-wide {
    
}
.error-message {
    border: 2px solid #e58c8c;
    background: #f9dcdc;
    padding: 10px 15px;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.mdl-card__media {
    text-align: center;
    /*background: #f3f3f3;*/
}

.mdl-card__media img {
    margin-left: auto;
    margin-right: auto;
}

/**/
.mdl-button--file input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 4;  
}

.mdl-textfield--file .mdl-textfield__input {
    box-sizing: border-box;
    width: calc(100% - 32px);
  }
.mdl-textfield--file .mdl-button--file {
    right: 0;  
}

/**/
.event-card th,
.event-card td,
.user-card th,
.user-card td {
    vertical-align: top; 
}

.event-card .mdl-card__supporting-text,
.user-card .mdl-card__supporting-text {
    padding: 0;
    font-size: 12px;
}
.w100 {
    width: 100%;
}
.delete-wrap {
    display: inline;
}
.event-image,
.user-image {
    position: relative;
    
}
.event-image .delete-button,
.user-image .delete-button {
    position: absolute;
    left: 10px;
    top: 10px;
    
    /*background-color: red;*/
    /*color: white;*/
}
.item-canceled {
    background-color: #ffe1e1;
}
.event-card .mdl-card__actions {
    font-size: 18px;
}
.image-card-in {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.login {
    max-width: 640px;
    padding-top: 60px;
}


.mdl-card__title h2 {
    padding-right: 120px;
}